@model UserRegisterViewModel

@{
    ViewData["Title"] = "CREATE USER";
}
<h5 class="card-title fw-semibold mb-4">Create a User</h5>
<form asp-action="Create" method="post">
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.FirstName"></label>
                <input asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.LastName"></label>
                <input asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.UserName">Username</label>
        <input asp-for="@Model.UserName" class="form-control" />
        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.Password"></label>
                <input type="password" asp-for="@Model.Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.ConfirmPassword"></label>
                <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>


    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<script src="~/libs/jquery/dist/jquery.min.js"></script>
<script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/sidebarmenu.js"></script>
<script src="~/js/app.min.js"></script>
<script src="~/libs/simplebar/dist/simplebar.js"></script>