@using trnservice.Areas.Identity.Data
@model PagedList<ApplicationUser>
@{
    ViewData["Title"] = "USERS";
}

<h5 class="card-title fw-semibold mb-4">Manage Users</h5>
<div class="card">
    <div class="card-body">
        <h1>All Users</h1>

        <form method="get" action="@Url.Action("Index")">
            <div class="form-row mb-3">
                <div class="col mb-3">
                    <input type="text" class="form-control" placeholder="Search" name="searchString"
                           value="@ViewBag.SearchString" />
                </div>
                <div class="mb-3">
                    <input type="checkbox" name="showInactive" value="true" @(ViewBag.ShowInactive ? "checked" : "")> Show Inactive
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <table class="table table-sm table-bordered table-bordered">
            <tr>
                <th><a asp-action="Index" 
                       asp-route-sortOrder="email" 
                       asp-route-sortDirection="@(ViewBag.SortDirection == "asc" ? "desc" : "asc")"
                       asp-route-showInactive="@(ViewBag.ShowInactive)">Email Address
                    </a></th>
                <th><a asp-action="Index" 
                       asp-route-sortOrder="firstname" 
                       asp-route-sortDirection="@(ViewBag.SortDirection == "asc" ? "desc" : "asc")"
                       asp-route-showInactive="@(ViewBag.ShowInactive)">First Name
                    </a></th>
                <th><a asp-action="Index" 
                       asp-route-sortOrder="lastname" 
                       asp-route-sortDirection="@(ViewBag.SortDirection == "asc" ? "desc" : "asc")"
                       asp-route-showInactive="@(ViewBag.ShowInactive)">Last Name
                    </a></th>
                <th><a asp-action="Index" 
                       asp-route-sortOrder="username" 
                       asp-route-sortDirection="@(ViewBag.SortDirection == "asc" ? "desc" : "asc")"
                       asp-route-showInactive="@(ViewBag.ShowInactive)">Username
                    </a></th>
                <th><a asp-action="Index" 
                       asp-route-sortOrder="status" 
                       asp-route-sortDirection="@(ViewBag.SortDirection == "asc" ? "desc" : "asc")"
                       asp-route-showInactive="@(ViewBag.ShowInactive)">Status
                    </a></th>
                <th>Action</th>
            </tr>
            @foreach (var user in Model.Items)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    @if (user.IsActive && user.LockoutEnd is null)
                    {
                        <td>
                            <button class="btn btn-sm btn-success m-1 disabled">Active</button>
                        </td>
                    }
                    else if(user.IsActive && user.LockoutEnd != null)
                    {
                        <td>
                            <button class="btn btn-sm btn-danger m-1 disabled">Locked</button>
                        </td>
                    }
                    else if(!user.IsActive)
                    {
                        <td>
                            <button class="btn btn-sm btn-dark m-1 disabled">Inactive</button>
                        </td>
                    }
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Update</a>
                        @if (user.IsActive)
                        {
                            <button onclick="confirmDelete('@user.Id')" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        }
                    </td>
                </tr>
            }
        </table>
        <div class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <a href="@Url.Action("Index", new { 
                        page = i, 
                        searchString = ViewBag.SearchString, 
                        showInactive = ViewBag.ShowInactive,
                        sortOrder = ViewBag.SortOrder })" class="page-link">@i</a>
            }
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-action="Create" class="btn btn-secondary">Create a User</a>
    </div>
</div>


<script src="~/libs/jquery/dist/jquery.min.js"></script>
<script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/sidebarmenu.js"></script>
<script src="~/js/app.min.js"></script>
<script src="~/libs/simplebar/dist/simplebar.js"></script>

<script>
    function confirmDelete(userId) {
        if (confirm('Are you sure you want to delete this user?')) {
            // User clicked OK, proceed with the form submission
            var form = document.createElement('form');
            form.method = 'post';
            form.action = '@Url.Action("Delete")';
            form.innerHTML = '<input type="hidden" name="id" value="' + userId + '" />';
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>